/*---------------------------------------------------------
 * Base
---------------------------------------------------------*/
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  @include font-size($font-size__base);
  background-color: #fff;
  color: $color__font;
  border-top: 6px solid rgb( 0, 0, 0 );
}
.main {
  position: relative;
}
blockquote {
  border-left: 3px solid $dark-grey;
  padding: 0 2em;
  margin: 0 1em;
}
.content {
  p {
    a {
      color: rgb(51,153,255);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}