/**--------------------------------------------------------
 * Discalimer
 *---------------------------------------------------------*/
.disclaimer {
  max-width: 285px;
  margin: 0 auto;
  margin-bottom: 1em;
  color: #fff;
  text-align: center;
}